<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508586784511-52eal7u4eodn5n81o45sambc6j0kc2ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508586784511-52eal7u4eodn5n81o45sambc6j0kc2ot</string>
	<key>API_KEY</key>
	<string>AIzaSyB9dNOCGSKi7NWlJDbhqrZoHgAWMEMZXeE</string>
	<key>GCM_SENDER_ID</key>
	<string>508586784511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ram.NewsAPI-1</string>
	<key>PROJECT_ID</key>
	<string>newsapp-ef03f</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-ef03f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508586784511:ios:70324d59d663da608a3eca</string>
</dict>
</plist>